/* --------- Google Font Import ------------- */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');



/* -------------- Body Css -------------- */

body {
    scroll-behavior: smooth;
    text-decoration: none;
    text-decoration-color: #101110;
    background-color: #101110;
}

/* -------------- 'A' Tag Css -------------- */

a {
    text-decoration: none;
}

/* -------------- Modal Css -------------- */

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* This stop the modal from moving when users scroll as the modal is open */
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: white;
    box-shadow: 5px 5px 5px -1px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 5px 5px 5px -1px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 5px 5px 5px -1px rgba(0, 0, 0, 0.18);
    margin: 15% auto;
    border: 1px solid #888;
    width: 50%;
    border-radius: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    .modal-body {
        display: flex;
        height: 400px;

        /* Swiper CSS inside modal */
        .swiper {
            max-width: 50%;
        }

         /* styling of the dots as a whole */
    .swiper-pagination {
        width: 100px;
        margin-left: 120px; /* Placing the pagination in the middle of swiper image */
        background-color: #101110;
        padding: 5px;
        border-radius: 60px;
    }

    /* size of the dots */
    .swiper-pagination-bullet {
        background-color: white;
        min-width: 18px;
        min-height: 18px;
    }

       /* active bullet styling */
       .swiper-pagination-bullet-active {
        background-color: #eeba2b;
        /* color for active bullet */
    }

        .swiper-wrapper {
            width: 100%;
            max-height: 400px;

            .swiper-slide {
                max-width: 100%;
                max-height: 100%;

                img {
                    border-top-left-radius: 8px;
                    border-bottom-left-radius: 8px;
                    min-width: 400px;
                    max-height: 400px;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }


        /* Product info CSS inside modal */
        .modal-details {
            display: flex;
            flex-direction: column;
            padding: 10px;

            .other-details {
                display: flex;
                button {
                    border: none;
                    background-color: white;
                    color: #101110;
                    font-size: 17px;
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    font-weight: bolder;
                    cursor: pointer;
                    transition: all 0.3s ease;
                }
            
                button:hover {
                    color: #eeba2b;
                    transition: all 0.3s ease;
                }
            }
        }

    }


}

/* Close Button for Modal */
.close {
    padding: 10px;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    z-index: 100;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* -------------- Fullpage Side Navigation Dots -------------- */

#fp-nav ul li a span {
    background-color: #eeba2b;
}


/* -------- NAVBAR -------------- */
nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 30px;
    z-index: 100;
    min-width: 100%;


    .nav-items {
        display: flex;
        align-items: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

        a {
            text-decoration: none;
            font-size: 1.5rem;
            font-weight: bold;
            color: #fbfbfb;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }

        .logo {
            background-image: url('img/logo-no-bg.png');
            background-size: cover;
            background-position: center;
            min-width: 100px;
            min-height: 100px;
        }

        .fa-user {
            color: #fbfbfb;
            font-size: 2rem;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        .fa-user:hover {
            color: #eeba2b;
            transition: all 0.3s ease;
        }

        #userContainer {
            padding: 0px;
            font-size: 2em;
            font-weight: bold;
        }
    }
}

/* Hamburger Items */

.hamburger {
    display: none;
    font-size: 30px;
    font-weight: 800;
    color: #101110;
}



/* ---------- LAYOUT AND SIZE FOR ALL SECTIONS --------- */

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    color: white;
}

/* ------------ LANDING PAGE -------------- */

/* This is to ensure items are in a row across the section */
.row {
    display: flex;
    flex-direction: row;
}

/* This creates the two columns in the section */
.col {
    flex: 1;
}

#landingPage {
    background-color: #101110;
    font-family: "Great Vibes", cursive;
    padding-bottom: 10px;
}

/* Left Half of Landing Page */
.left-half {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    padding-top: 70px;

    .title {
        padding-top: 60px;
        font-size: 2.3em;
        justify-content: center;

        /* This allows for the buttons to be close underneath the title text */
        h4 {
            margin: 0px;
            padding: 0px;
        }
    }

    .buttons {

        button {
            padding: 15px;
            border-radius: 9px;
            border: 2px solid #101110;
            background-color: white;
            color: #101110;
            font-size: 17px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-weight: bolder;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        button:hover {
            background-color: #101110;
            color: #eeba2b;
            border: 2px solid #eeba2b;
            transition: all 0.3s ease;
        }
    }


}

.right-half {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;

    /* Image Sizing */
    img {
        max-width: 300px;
        max-height: 300px;
        border-radius: 40%;
        border: 5px double #eeba2b;
    }

    /* Image  1 Positioning */
    .landing-img1 {
        position: absolute;
        right: 25%;
        top: 50%;
    }

    /* Image 2  Positioning */
    .landing-img2 {
        position: absolute;
        right: 10%;
    }
}


/* ------------- SIGN UP FORM PAGE ----------- */

#signUpSection {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;

    #signUpForm {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        gap: 1rem;

        a {
            font-size: 24px;
            position: relative;
            display: inline-block;
        }
        a::after,
        a::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: linear-gradient(to right, #eeba2b, #eeba2b);
        bottom: -5px;
        left: 0;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.4s ease-out;
        }

        a::before {
        top: -5px;
        transform-origin: center;
        }

        a:hover::after,
        a:hover::before {
            transform: scaleX(1);
        }

        a:hover {
            cursor: pointer;

        }
    }

    #formMessage {
        font-size: 20px;
        color: rgb(182, 28, 28);
        font-weight: bold;
        padding: 10px;
        text-align: center;
    }
}

#userContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    p {
        font-size: 24px;
    }

    #pfp {
        border-radius: 50%;
        max-width: 50px;
        max-height: 50px;
        cursor: pointer;
    }
}

.section:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 80px;
    background-color: #101110;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    input {
        padding: 15px;
        border-radius: 8px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: bold;
    }

    button {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: bold;
        padding: 15px;
        border-radius: 8px;
        border: 2px solid #101110;
        background-color: white;
        color: #101110;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    button:hover {
        background-color: #101110;
        color: #eeba2b;
        border: 2px solid #eeba2b;
        transition: all 0.3s ease;
    }
}


/* -------------- Shop All Section -------------- */

.section:nth-child(3) {
    background-color: #101110;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        margin-bottom: 10px;
        padding: 0px;
        text-align: center;
    }

    #allCards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }

    /* styling of the dots as a whole */
    .swiper-pagination {
        background-color: #101110;
        padding: 5px;
        width: 90px;
        margin: 0px 100px; /* to move it in the center */
        border-radius: 40px;
    }

    /* size of the dots */
    .swiper-pagination-bullet {
        background-color: white;
        min-width: 20px;
        min-height: 20px;
    }

    /* swiper container */
    .swiper {
        max-width: 300px;
        max-height: 300px;
    }

    /* active bullet styling */
    .swiper-pagination-bullet-active {
        background-color: #eeba2b;
        /* color for active bullet */
    }

    .product-card {
        display: flex;
        flex-direction: column;
        max-width: 300px;
        max-height: 550px;
        color: #101110;
        font-size: 18px;
        background-color: white;
        border-radius: 10px;

        /* product images */
        .product-image {
            width: 100%;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            cursor: pointer;
        }

        /* heading, category and finish */
        .product-details {
            padding: 10px 20px;
            justify-content: center;
            align-items: center;
            justify-content: space-around;

            /* button and price */
            .other-details {
                display: flex;

                button {
                    padding: 20px;
                    font-size: 1.5em;
                    border: none;
                    background-color: white;
                    cursor: pointer;
                    transition: all 0.3s ease;
                }

                button:hover {
                    color: #eeba2b;
                    transition: all 0.3s ease;
                }
            }
        }

    }

/* These are the filter and sorting options */
.filter-and-sort-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;

    .filter-cont {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 0.7em;

        select {
            padding: 10px;
            border-radius: 8px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-weight: bold;
        }
    }

    .sorting-cont {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        button {
            padding: 10px;
            border-radius: 8px;
            background-color: white;
            border: 2px solid #101110;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        button:hover {
            color: #eeba2b;
            border: 2px solid #eeba2b;
            background-color: #101110;
            transition: all 0.3s ease;
        }
    }
}

}

#shopAllSection {
    display: flex;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 20px;

    h2 {
        padding-top: 60px;
    }
}

/* -------------- Gallery Section -------------- */


.section:nth-child(4) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #101110;
    text-align: center;
    padding-top: 80px;

    h2 {
        padding-top: 50px;
        margin: 0px;
    }

    .gallery-grid {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
        padding: 20px;
    }

    img {
        border-radius: 10px;
        width: 350px;
        height: 250px;
        object-fit: cover;
        cursor: pointer;
        transition: all 0.5s ease;
    }
    img:hover {
        scale: 1.1;
        transition: all 0.5s ease;
    }

}




/* -------------- Media Queries -------------- */


/* TABLET */
@media screen and (max-width: 768px) {

    /* NAVBAR + HAMBURGER */
    .hamburger {
        display: flex;
        cursor: pointer;
    }

    .hamburger #closeHam {
        display: none;
    }


    #navbar {

        .nav-items {
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-content: space-around;
            align-items: center;
            position: absolute;
            right: 0;
            top: 58px;
            width: 100%;
            height: calc(100vh - 58px);
            /*calc will help calcuate the height*/
            background-color: white;
            padding-top: 60px;


            a {
                color: #101110 !important;
                font-size: 2em;
            }

            .fa-user {
                display: none;
            }
        }

    }

    /* CART ICON */
    .fixed-cart {
        display: none;
    }


    /* LANDING PAGE */
    .left-half .title {
        font-size: 1.3em;
    }

    .left-half {
        .buttons {
            button {
                padding: 9px;
                font-size: 18px;
            }
        }
    }

    .right-half {
        padding-left: 30px;

        img {
            width: 150px;
            height: 150px;
        }
    }

    /* SIGN UP PAGE */
    #signUpSection {
        padding: 50px;

        #signUpForm {
            flex-direction: column;
            justify-content: center;
            gap: 10px;
        }

        #formMessage {
            font-size: 15px;
            color: rgb(182, 28, 28);
            font-weight: bold;
            padding: 10px;
        }

        h3 {
            font-size: 0.7em;
            text-align: center;
        }
    }

    /* SHOP ALL PAGE */
    #shopAllSection {
        padding: 50px;

        h2 {
            font-size: 1em;
        }

        .filter-and-sort-cont {
            flex-direction: column;

            button {
                padding: 15px;
                font-weight: bold;
            }
        }

        #allCards {
            grid-template-columns: repeat(2, 1fr);

            .product-card {
                font-size: 17px;
            }
        }
    }

    /* GALLERY PAGE */
    #gallerySection {
        padding: 50px;

        h2 {
            font-size: 1em;
        }

        .fp-arrow {
            margin-top: 10px;
        }

        img {
            width: 150px;
            height: 200px;
            object-fit: cover;
        }
    }
}



/* MOBILE */
@media screen and (max-width: 600px) {

    /* LANDING PAGE */
    .left-half .title {
        font-size: 1.2em;
    }

    .left-half {
        .buttons {
            display: flex;
            flex-direction: column;
            gap: 6px;
            width: 90%;
            margin-top: 10px;

            button {
                padding: 9px;
                font-size: 18px;
            }
        }
    }

    .right-half {
        padding-left: 30px;

        /* Image  1 Positioning */
        .landing-img1 {
            position: absolute;
            right: 17%;
            top: 50%;
        }

        /* Image 2  Positioning */
        .landing-img2 {
            position: absolute;
            right: 5%;
        }
    }


    /* SHOP ALL SECTION */

    #shopAllSection {
        padding: 50px;

        #allCards {
            grid-template-columns: 1fr;

            .product-card {
                max-width: 600px;
                max-height: 300px;
                flex-direction: row;
                font-size: 15px;
            }

            .swiper-container {
                max-height: 300px;
                max-width: 50%;

                .swiper {
                    max-width: 100%;
                    max-height: 100%;
                    border-top-left-radius: 8px;
                    border-bottom-left-radius: 8px;

                    .product-image {
                        border-top-left-radius: 8px;
                    }
                }
            }
        }
    }


    /* GALLERY SECTION */
    #gallerySection h2 {
        margin-bottom: 20px;
    }

    #gallerySection .slide {
        justify-content: center;
        align-items: center;
    }

    #gallerySection img {
        width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* SMALLER MOBILE */
@media screen and (max-width: 500px) {
    #allCards {
        grid-template-columns: 1fr;
    }

    #shopAllSection h2 {
        padding-top: 0px;
    }

    .swiper-container {
        max-height: 100%;

        .product-image {
            min-height: 300px;
            object-fit: cover;
            object-position: center;
        }
    }

    .product-card .product-details {
        font-size: 14px;
    }

    .filter-and-sort-cont {
        max-width: 100%;
        margin-bottom: 10px;

        select {
            width: 300px;
        }
    }

    .sorting-cont {
        button {
            font-size: 15px;
        }
    }

    .filter-cont {
        max-width: 100%;
        flex-direction: column;
    }
};